// ---------------------  URLs  ---------------------//
- var baseurl = 'https://balazsorban.com'
- var linkedin = 'https://www.linkedin.com/in/balazsorban44'
- var github = 'https://github.com/balazsorban44'

// ---------------------  PATHS  ---------------------//
- var link1 = 'code'
- var link2 = 'photo'
- var assets = 'assets/'

// ---------------------  INFO  ---------------------//
- var firstname = 'Balázs'
- var lastname = 'Orbán'
- var title = firstname + ' ' + lastname + "'s portfolio"
- var defaultAge = '22'
- var email = 'info@balazsorban.com'
- var tel = '+4795460627'
