// ---------------------  LOCAL URL  ---------------------//
- var baseurl = 'http://127.0.0.1:8000'

// ---------------------  URLs  ---------------------//
- var linkedin = 'https://www.linkedin.com/in/balazsorban44'
- var github = 'https://github.com/balazsorban44'

// ---------------------  PATHS  ---------------------//
- var photo = baseurl+'/photo'
- var code = baseurl+'/code'
- var assets = '/assets'
- var images = assets+'/images'
- var icons = images+'/icons'
- var css = assets+'/css'

// ---------------------  INFO  ---------------------//
- var firstname = 'Balázs'
- var surname = 'Orbán'
- var defaultAge = '22'
- var email = 'info@balazsorban.com'
- var tel = '+4795460627'
