doctype html
html
  include ../1-ESSENTIALS/vars
  include ../2-MODULES/head
  body
    include ../2-MODULES/menu
    section#code
      h1 Ooops!...<span> &#9785;</span>

      p Right now, it is empty here, sorry. But you can check out some of my first projects at:
      a(href=github)
        span
    include ../4-OTHER/back-button
    include ../1-ESSENTIALS/defer
