a.skip-main(href='#card' tabindex="0") Skip to main content
include ../2-MODULES/menu
section#landing
  #name
    h1 Balázs<br>  Orbán.
  #card
    #intro
      h2.me 21 years old tech geek from hungary, living and studying in norway.
      span.open more about me
    #about-me
      #me-text
        h3 programming
        p I started programming seriously in <b><i>2015</b></i>, and focused on mainly webdevelopment (HTML, CSS, JavaScript). I have been a selft-taught programmer, but from <b><i>2016</b></i> fall I learn <b><i>Computer Science</i></b> at the 
          a(href="http://www.ntnu.edu/studies/bit") Norwegian University of Science and Technology.
        hr
        h3 photography
        p I fell in love with photography while I was an exchange student in <b>Lofoten Islands, Norway</b> in <b><i>2013</i></b>. I am taking photos since then. Right now it is just a hobby.
      span.close
