---
layout: compress
---
<!DOCTYPE html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="description" content="{{page.text}}"/>
		<meta name="keywords" content="{{page.categories}}"/>
		<meta name="author" content="{{site.author}}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{site.homepage}}/assets/css/main.css">
		<title>{{page.title}}</title>
		<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}"/>
	  <meta property="og:description" content="{{page.text}}"/>
	  <meta property="og:url" content="{{site.homepage}}/{{page.url}}"/>
	  <meta property="og:image" content="{{site.homepage}}/{{page.type}}/img/thumb/{{page.image}}.jpg"/>
		<meta property="fb:app_id" content="177644535633740"/>
		<link rel="icon" href="{{site.homepage}}/assets/img/icons/favicon.ico">
		{% include analytics.html %}
	</head>
	<body id="post-{{page.type}}">
		<main itemtype="http://schema.org/Photograph" itemscope>
			<h3 class="title" itemprop="headline">{{ page.title }}</h3>
			<h4>by <span itemprop="editor author publisher">{{page.author}}</span></h4>
			<p class="meta">Date: {{ page.date }}</p>
			<div id="content-img">
				<img src=../../../img/original/{{page.image}}.jpg alt="{{page.title}}" itemprop="mainEntityOfPage" content="../../../img/original/{{page.image}}.jpg">
			</div>
			<div id="bg-img">
				<img src=../../../img/thumb/{{page.image}}.jpg alt="{{page.title}}">
			</div>
			<ul>
				<li itemprop="description">{{page.text}}</li>
				<li>tags: <span itemprop="keywords">{{ page.tags }}</span></li>
				<li>location: <span itemprop="contentLocation locationCreated">{{page.location}}</span></li>
				<li>date taken: <span itemprop="dateCreated">{{page.taken}}</span></li>
			</ul>
			<div id="map"></div>
		</main>
		<footer>
			<ul>
				<li id="back-button"><a href="../../..">back</a></li>
			</ul>
		</footer>
	</body>
</html>
