---
layout: default
---
section#photos-wrapper
  {% for post in site.posts %}
    a.photo(href='{{ post.url | prepend: site.baseurl }}')
      .text
        span.post-title {{post.title}}
        span.post-date {{ post.date | date: "%b %-d, %Y" }}
      img(alt='{{post.title}}' src='{{site.photourl}}{{post.image}}')
  {% endfor %}
a.back(href='{{site.url}}')
script(type='text/javascript').
  function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "{{site.homepage}}/assets/js/main.js";
  document.body.appendChild(element);
  }
  if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
