doctype html
html(lang='en')
  include ../1-ESSENTIALS/vars
  include ../2-MODULES/head
  body.index
    a.skip-main(href='#card' tabindex="0") Skip to main content
    include ../2-MODULES/menu
    section#landing
      #name
        h1 Balázs<br>  Orbán.
      #me
      #card
        #intro-text
          h2.me 21 year old tech geek from hungary, living and studying in norway.
          span.open more about me
        #me-text
          h3 programming
          p I started coding in <b><i>2015</b></i>, and focused mainly on front-end web languages (HTML, CSS, JavaScript). I am mostly self-taught, but from <b><i>2016</b></i> I study <b><i>Computer Science</i></b> at the
            a(href="http://www.ntnu.edu/studies/bit") Norwegian University of Science and Technology.
            br
            | I would like to learn about Artificial Intelligence in the future.
          hr
          h3 photography
          p I fell in love with photography while I was an exchange student in <b><i>Lofoten Islands, Norway</i></b> in <b><i>2013</i></b>. I am taking photos since then. Right now it is just a hobby.
          span.close
    include ../2-MODULES/footer
    include ../1-ESSENTIALS/defer
