.items-code
  h1
    font-size: $base-font-size*1.2
  h1,h2,h3,p,a
    color: $light
  p
    margin-bottom: 10px
    text-align: center
  h2,h3,a
    display: inline
  a
    text-decoration: underline
    font-weight: bold
.item-code
  max-width: 320px
  margin: 10px
  background: $accent-color
  padding: 10px

@media (min-width: 768px)
  .item-code
    max-width: 540px
    padding: 30px
    
