.items-photo
  margin: 60px 0   .5vh

.item-content
  overflow: hidden
  position: relative
  display: flex
  margin: 2.5vw 0 0
  min-width: 90vw
  min-height: 50.625vw
  justify-content: center
  img
    position: absolute
    max-width: none
    bottom: 0
    left: 50%
    height: 100%
    transform: translateX(-50%)
    transform-origin: center
    z-index: -2
    transition: .5s
    filter: grayscale(1)
  &:hover
    h1
      background: none
      a
        border: none
        border-radius: $base-font-size
        background: $accent-color-light
        margin: $base-font-size
    img
      transform: scale(1.05) translateX(-50%)
      filter: grayscale(0)
  h1
    display: flex
    justify-content: center
    align-items: center
    flex-grow: 1
    background: rgba(0,0,0,.5)
    transition: .3s
    a
      font-size: $base-font-size
      font-style: italic
      text-transform: lowercase
      color: $light
      padding: 4px 6px
      border-bottom: 1px solid $light
      transition: transform .5s
      // border-bottom: 1px solid $light

.item-footer
  background: transparentize($dark, .2)
  padding: 4px
  margin-bottom: 8px
  float: right
  text-align: center
  font-size: $base-font-size*.8
  border-bottom-left-radius: 8px
  border-bottom-right-radius: 8px
  span,div
    font-size: $base-font-size*.7
    color: $light

@media (min-width: 640px)
  .items-photo
    display: flex
    flex-wrap: wrap
    justify-content: center
  .item-content
    min-width: 45vw
    min-height: 25.31vw
    margin: 10px
    margin-bottom: 0
    img
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      min-width: 45vw
    &:hover
      img
        transform: translateX(-50%) scale(1.05)
  .item-footer
    float: none
    margin: 0 10px 10px 10px
    border-radius: 0
@media (min-width: 768px)
  .items-photo
    margin: 0
@media (min-width: 1024px)
  .items-photo
    justify-content: flex-start
    margin: 0 10%
  .item-content
    min-width: 25vw
    min-height: 14vw
    img
      min-width: 25vw
