#post-photo
  overflow-x: hidden
  justify-content: flex-start
  main
    position: relative
    top: 0
    width: 100vw
    display: flex
    flex-direction: column
    h3,ul
      color: $light
      line-height: normal
    ul
      background: rgba(0,0,0,.5)
      border: 1px solid $light
      padding: 2.5vw
    li
      word-wrap: break-word

    span
      color: $light
  footer
    justify-content: flex-end
    top: $base-font-size*2.5
    bottom: auto
    left: auto
    transform: translateY(-50%)
    right: 5vw
    ul
      width: 48px
      min-width: 0

    li
      max-width: 48px
      @include bg-icon(1,'#{$icons}/back.svg')
#content-img
  overflow-x: scroll
  display: flex
  img
    max-width: none
    height: 65vh
    @media (orientation: portrait)
      height: 45vh

#bg-img
  top: 0
  left: -10vw
  position: fixed
  z-index: -1
  img
    min-width: 120vw
    height: 120vh
    max-width: none
    filter: blur(5px)
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(0,0,0,.6)
    z-index: 1

#content
  margin: $base-font-size 7.5vw
#content-title
  font-weight: bold
  margin-bottom: 2.5vw
  font-size: $base-font-size*1.3
.desc
  font-size: $base-font-size
  padding: 4px 0
  text-align: justify
#content-footer
  display: flex
  justify-content: flex-end
  align-items: baseline
  font-style: italic
  font-size: $base-font-size*.9
  color: transparentize($light, .05)
  &::before
    content: 'by'
  h4
    color: transparentize($light, .05)
    margin: 4px
@media (min-width: 568px)
  #content-img
    justify-content: center
@media (min-width: 768px)
  #content-img
    align-items: center
    img
      height: 45vh
      @media (orientation: portrait)
        height: auto
        width: 90vw
  #content
    @media (orientation: landscape)
      margin: 2.5vw 20%
  #post-photo
    justify-content: center
    footer
      position: absolute
      min-width: 0
      right: 10vh

      top: 90vh
      ul
        border: none
