---
layout: pages
title: Programming | Balázs Orbán's portfolio
type: code
description: You can find some of my coding projects here. Go and check out the source code or the live demo.
---
{% for post in site.posts %}
  {% if post.type contains 'code' %}
  	<article class='item-code'>
  	  <h1>{{post.title}}</h1>
      <div class="item-code-desc">
        {{post.content}}
      </div>
      <div class="item-code-links">
        <h2>Links:</h2>
        <ul>
          <li>
            <a class="item-code-link" href='{{post.source}}' target='_blank'>Source code</a>
          </li>
          <li>
            <a class="item-code-link" href='{{post.live}}' target='_blank'>Live/Preview</a>
          </li>
        </ul>
      </div>
      <div class="item-code-tags">
        <h2>Tags:</h2>
        <ul>
          {% for item  in post.tags %}
            {% if forloop.last %}
              <li>
                {{item}}
              </li>
            {% else %}
              <li>
                {{item}},
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="item-code-tools">
        <h2>Tools used:</h2>
        <ul>
          {% for item  in post.tools %}
            <li>
              <img class="item-code-used-item"src="{{site.homepage}}/assets/img/icons/{{item}}.svg" title="{{item}} "alt="{{item}}">
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="item-code-posted">
        <p>Posted: </p>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </div>
  	</article>
  {% endif %}
{% endfor %}
