*
  text-transform: lowercase
&::selection
  background-color: $accent-color-light
  color: white
html
  background:
    image: url('/assets/images/bg.jpg')
    size: cover
    repeat: no-repeat
  @include device-width($hd)
    background:
      size: auto 110vh
      position: 50% 0
  @include device-width($hd)
    @include orient(landscape)
      background-size: 100% 110vh
body
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh
  span.back
    margin: 64px
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3)
    background-color: $accent-color
    border-radius: 50%
    background:
      image: url('/assets/images/icons/back.svg')
      repeat: no-repeat
      position: center
      size: 50%
    cursor: pointer
    transition: .6s
    z-index: 3
    animation: 1s ease-in-out forwards .5s slideinRight
    transform:  translate(200px, 0)
    @include device-width($hd)
      background-size: 24px
      margin: 24px
      width: 56px
      height: 56px
  span.close
    position: fixed
    top: 0
    right: 0
    margin: 16px
    color: $accent-color
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5vw
    font-weight: lighter
    cursor: pointer
    @extend.snap
    @include device-width($hd)
      font-size: 10vw
      font-weight: bold
      margin: -4px 4px
    &::after
      content: '×'
    &:hover
      color: white
