@-ms-viewport
  width: device-width
*:focus
  outline: 0px

a::selection
  opacity: 0
::-webkit-scrollbar
  display: none
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, a:hover, img, ol, ul, li, article, footer, header, menu, nav, section
  -webkit-tap-highlight-color: transparent
  margin: 0
  padding: 0
  border: 0
  font: inherit
  font-size: 100%
  font-family: "Century Gothic", sans-serif
  color: black
  vertical-align: baseline
  text-decoration: none
footer, header, nav, section
  display: block
body
  line-height: 1
ol, ul
  list-style: none
