/*----------------------------SOURCES----------------------------*/
$images: '/assets/images/'
$icons: $images+ 'icons/'
/*----------------------------//SOURCES----------------------------*/

/*----------------------------DESIGN-----------------------------*/

/*--------COLORS--------*/
$accent-color : darken(orangered, 6)
$accent-color-light: darken(orangered, 2)
$dark: black
$light: white
/*--------FONT SIZES--------*/
$big-font: 1.8em
$medium-font: 1.3em
$normal-font: 1em
$small-font: .75em
$tiny-font: .8em
/*--------FONT FAMILY--------*/
$font-family: Product Sans, sans-serif
/*--------Borders--------*/
$slim-border: 1px solid $accent-color
$curvy-border: 4px solid $accent-color
$fat-border: 6px solid $accent-color
/*----------------------------//DESIGN-----------------------------*/
@charset "utf-8"
$base-font-family: $font-family
$base-font-size: 24px
$base-font-weight: 400
$small-font-size: $base-font-size * 0.875
$transition: .3s ease-in-out
$text-color: #111


$long-smooth: .7s ease-in-out
$medium-smooth: .4s ease-in-out
$fast-smooth: .3s ease-in-out

/*----------------------------MEDIA QUERIES-----------------------------*/
@mixin device-width($width)
  @media (max-width: $width)
    @content
@mixin orient($orient)
  @media (orientation: $orient)
    @content
$mobile: 420px
$hd: 720px
$small-laptop: 1366px
$full-hd: 1080px
$on-palm: 640px
$tiny: 320px
$small: 768px
$medium: 1024px
$big: 1440px
$large: 1920px
/*----------------------------//MEDIA QUERIES-----------------------------*/
