/*----------------------------SOURCES----------------------------*/

$images: '/assets/images/'

/*----------------------------//SOURCES----------------------------*/



/*----------------------------DESIGN-----------------------------*/

/*--------COLORS--------*/
$accent-color : darken(orangered, 6)
$accent-color-light: darken(orangered, 2)

/*--------FONT SIZES--------*/
$big-font: 1.8em
$medium-font: 1em
$small-font: 0.75em
$tiny-font: 0.8em

/*--------Borders--------*/
$slim-border: 1px solid $accent-color
$curvy-border: 4px solid $accent-color
$fat-border: 6px solid $accent-color


/*----------------------------//DESIGN-----------------------------*/



/*----------------------------MEDIA QUERIES-----------------------------*/

@mixin device-width($width)
  @media (max-width: $width)
    @content

$mobile: 420px
$hd: 720px
$small-laptop: 1366px
$full-hd: 1080px
$on-palm: 640px
$tiny: 320px
$small: 768px
$medium: 1024px
$big: 1440px
$large: 1920px

@mixin orient($orient)
  @media (orientation: $orient)
    @content


/*----------------------------//MEDIA QUERIES-----------------------------*/
