ul
  li
    a(href=""+linkedin target='_blank') linkedin
  li
    a(href="tel:"+tel target='_blank') phone
  li
    a(href="mailto:"+email target='_blank') e-mail
  li.new-page(title="The following site is under construction.")
    a(href="https://new.balazsorban.com" ) New page (beta)
