doctype html
html
  include MODULES/vars
  include MODULES/head
  body
    include MODULES/menu
    section#web-wrapper
      h1 Ooops!...<span> 😩</span>
      p Empty here, sorry. I just started programming. But if you don't mind some buggy first trials, you will find my beginner projects on:
      a(href=github)
        span
    include MODULES/back-button
    include MODULES/defer
