footer
  ul
    li
      a(href=linkedin)
        img(src=icons+'/linkedin.png' alt="My LinkedIn profile")
    li
      a(href="tel:+4795460627")
        img(src=icons+'/call.svg' alt='Call me, maybe!')
    li
      a(href="mailto:"+email)
        img(src=icons+'/mail.svg' alt="Drop a message!")
    //li
      p < created	by 
        a(href="mailto:"+email) <b>balázs orbán</b> />
