---
layout: post
title:  "Kabelvåg"
date:   2016-11-21 19:00:00 +0100
taken:  2015-07-09 13:47
categories: landscape
image: /photo/images/5.jpg
alt: Kabelvåg, Norway
location: Kabelvåg, Norway
lat: 68.2075478
lon: 14.4883402
zoom: 15
text: My first award winning photo.
---
