
<footer class="footer-photo">
  <ul>
    <li><a href="https://www.linkedin.com/in/balazsorban44"><img src="{{site.homepage}}/assets/images/icons/linkedin.png" alt="LinkedIn"/></a></li>
    <li><a href="tel:+4795460627"><img src="{{site.homepage}}/assets/images/icons/call.svg" alt="Call me, maybe!"/></a></li>
    <li><a href="mailto:info@balazsorban.com"><img src="{{site.homepage}}/assets/images/icons/mail.svg" alt="E-mail me!"/></a></li>
    <!--<p>all rights reserved - balázs orbán © - 2016</p>-->
  </ul>
</footer>
