footer
  ul
    li
      a(href=linkedin)
        img(src=icons+'/linkedin.png' alt="LinkedIn")
    li
      a(href="tel:+4795460627")
        img(src=icons+'/call.svg' alt='Call me, maybe!')
    li
      a(href="mailto:"+email)
        img(src=icons+'/mail.svg' alt="E-mail me!")
