/*----------------------------SOURCES---------------------------- */
/*----------------------------//SOURCES---------------------------- */
/*----------------------------DESIGN----------------------------- */
/*--------COLORS-------- */
/*--------FONT SIZES-------- */
/*--------FONT FAMILY-------- */
/*--------Borders-------- */
/*----------------------------//DESIGN----------------------------- */
/*----------------------------MEDIA QUERIES----------------------------- */
/*----------------------------//MEDIA QUERIES----------------------------- */
.page-content {
  width: 90%;
  margin-left: 5%;
  flex-grow: 5; }
  @media (max-width: 720px) {
    .page-content {
      width: 100%;
      margin: 0; } }
  .page-content #photos-wrapper {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 640px) {
      .page-content #photos-wrapper {
        margin-top: 45px; } }
    .page-content #photos-wrapper .photo {
      overflow: hidden;
      animation: 0.8s ease-in-out forwards slideinRight;
      transform: translate(100vw, 0);
      position: relative;
      height: 240px;
      margin: 10px; }
      .page-content #photos-wrapper .photo:nth-child(1) {
        animation-delay: 100ms; }
      .page-content #photos-wrapper .photo:nth-child(2) {
        animation-delay: 200ms; }
      .page-content #photos-wrapper .photo:nth-child(3) {
        animation-delay: 300ms; }
      .page-content #photos-wrapper .photo:nth-child(4) {
        animation-delay: 400ms; }
      .page-content #photos-wrapper .photo:nth-child(5) {
        animation-delay: 500ms; }
      @media (max-width: 420px) {
        .page-content #photos-wrapper .photo {
          display: flex;
          justify-content: center;
          height: auto;
          flex-direction: column;
          margin: 5px; } }
      .page-content #photos-wrapper .photo:hover .text {
        top: 0;
        position: absolute;
        z-index: 1; }
      .page-content #photos-wrapper .photo:hover img {
        transform: scale(1.1); }
        @media (max-width: 420px) {
          .page-content #photos-wrapper .photo:hover img {
            transform: none; } }
      .page-content #photos-wrapper .photo img {
        display: block;
        width: auto;
        height: 100%;
        transition: 0.3s ease-in-out; }
        @media (max-width: 420px) {
          .page-content #photos-wrapper .photo img {
            height: auto;
            min-width: 100vw; } }
      .page-content #photos-wrapper .photo .text {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 69, 0, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 100%;
        transition: 0.3s ease-in-out; }
        @media (max-width: 420px) {
          .page-content #photos-wrapper .photo .text {
            top: 0;
            background-color: rgba(0, 0, 0, 0.4); } }
        .page-content #photos-wrapper .photo .text .post-title, .page-content #photos-wrapper .photo .text .post-date {
          font-size: 1.3em;
          line-height: 1.2;
          color: white;
          text-align: center; }
          @media (max-width: 420px) {
            .page-content #photos-wrapper .photo .text .post-title, .page-content #photos-wrapper .photo .text .post-date {
              line-height: normal;
              padding: 0 5px;
              min-width: none;
              font-size: 0.8em; } }
        .page-content #photos-wrapper .photo .text .post-title {
          font-size: 24px; }

/* Posts */
body.post-body {
  background: black;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed; }
  body.post-body header {
    border: none; }
  body.post-body .post-header {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.8em;
    padding: 2%;
    z-index: 1; }
    @media (max-width: 1080px) {
      body.post-body .post-header {
        padding: 2% 0 0 5%;
        line-height: 1;
        background: linear-gradient(#f54200, #e03d00);
        border-bottom: 1px solid #e03d00;
        font-size: 3.42em;
        height: 10%;
        width: 100%; } }
    body.post-body .post-header a {
      color: white !important; }
  body.post-body article.post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    body.post-body article.post header.article-header {
      margin: 5%;
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      @media (max-width: 1080px) {
        body.post-body article.post header.article-header {
          margin: 4% 3% 0 0;
          z-index: 1; } }
      body.post-body article.post header.article-header .post-title {
        font-size: 48px;
        letter-spacing: -1px;
        line-height: 1;
        animation: 0.3s slideinRight;
        color: white; }
        @media (max-width: 1080px) {
          body.post-body article.post header.article-header .post-title {
            font-size: 26.4px; } }
      body.post-body article.post header.article-header .post-author div {
        float: left;
        padding-right: 4px;
        color: white;
        font-size: 21.6px; }
        @media (max-width: 1080px) {
          body.post-body article.post header.article-header .post-author div {
            font-size: 14.4px; } }
      body.post-body article.post header.article-header .post-meta {
        color: white;
        font-size: 19.2px; }
        @media (max-width: 1080px) {
          body.post-body article.post header.article-header .post-meta {
            font-size: 12px; } }
    body.post-body article.post section.post-content {
      position: relative;
      width: 100vw;
      margin: 0 5%;
      height: 65vh; }
      @media (max-width: 1080px) {
        body.post-body article.post section.post-content {
          height: auto; } }
      body.post-body article.post section.post-content img.post-bg {
        position: fixed;
        bottom: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        z-index: -100;
        opacity: 0.5;
        filter: blur(10px); }
        @media (max-width: 1080px) {
          body.post-body article.post section.post-content img.post-bg {
            opacity: 0.2;
            filter: blur(3px); } }
      body.post-body article.post section.post-content .post-perse {
        display: flex;
        min-width: 100%;
        position: absolute;
        top: 40%;
        justify-content: center; }
        @media (max-width: 1080px) {
          body.post-body article.post section.post-content .post-perse {
            flex-direction: column;
            height: 100vh;
            overflow: scroll; } }
        body.post-body article.post section.post-content .post-perse img.myphoto {
          box-shadow: 0 10px 20px black;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          height: 45vh;
          max-width: 65vw;
          pointer-events: none; }
          @media (max-width: 1080px) {
            body.post-body article.post section.post-content .post-perse img.myphoto {
              box-shadow: none;
              max-width: 100%;
              height: auto; } }
        body.post-body article.post section.post-content .post-perse .text {
          display: flex;
          flex-direction: column;
          margin-left: 7%;
          max-width: 25vw;
          min-width: 25vw; }
          @media (max-width: 1080px) {
            body.post-body article.post section.post-content .post-perse .text {
              max-width: 100vw;
              margin: 0;
              background: transparent; } }
          body.post-body article.post section.post-content .post-perse .text h1 {
            font-size: 1.8em;
            padding: 2%;
            color: white; }
            @media (max-width: 1080px) {
              body.post-body article.post section.post-content .post-perse .text h1 {
                padding: 10% 0 0 5%; } }
          body.post-body article.post section.post-content .post-perse .text ul {
            display: flex;
            max-height: 40%;
            overflow-y: scroll;
            flex-grow: 5;
            flex-direction: column;
            justify-content: center; }
            @media (max-width: 1080px) {
              body.post-body article.post section.post-content .post-perse .text ul {
                max-height: none;
                overflow: visible;
                padding: 0 5%; } }
            body.post-body article.post section.post-content .post-perse .text ul li {
              color: white;
              text-align: justify;
              font-size: 1em;
              list-style-type: none;
              padding: 5px 0; }
              body.post-body article.post section.post-content .post-perse .text ul li:nth-child(2), body.post-body article.post section.post-content .post-perse .text ul li:nth-child(3), body.post-body article.post section.post-content .post-perse .text ul li:last-child {
                padding: 0;
                font-size: 0.75em; }
          body.post-body article.post section.post-content .post-perse .text #map {
            width: 100%;
            flex-grow: 2; }
            @media (max-width: 1080px) {
              body.post-body article.post section.post-content .post-perse .text #map {
                display: none; } }
