// ---------------------  LOCAL URL  ---------------------//
- var baseurl = 'http://balazsorban.com'
//- var baseurl = 'http://192.168.1.4:8000'
// ---------------------  URLs  ---------------------//
- var linkedin = 'https://www.linkedin.com/in/balazsorban44'
- var github = 'https://github.com/balazsorban44'
- var jquery = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'
- var comment = //0
//---------------------  SUBPAGES  ---------------------//
- var photo = baseurl+'/photo'
- var code = baseurl+'/code'
// ---------------------  OTHER  ---------------------//
- var assets = '/assets'
- var images = assets+'/images'
- var icons = images+'/icons'
- var css = assets+'/css'
- var email = 'info@balazsorban.com'
- var tel = '+4795460627'
