footer
  position: absolute
  bottom: $base-font-size
  ul
    min-width: 100vw
    justify-content: space-around
    display: flex
  li
    @include bg-icon(1,'#{$icons}/linkedin.png')
    @include bg-icon(2,'#{$icons}/call.svg')
    @include bg-icon(3,'#{$icons}/mail.svg')

#pages
  overflow-x: hidden
  footer
    position: static
    margin: $base-font-size
    li
      @include bg-icon(1,'#{$icons}/back.svg')
      @include bg-icon(2,'#{$icons}/call.svg')
      @include bg-icon(3,'#{$icons}/mail.svg')
      @include bg-icon(4,'#{$icons}/linkedin.png')

@media (min-width: 640px)
  footer
    bottom: $base-font-size/2
    left: 50%
    ul
      min-width: 512px

@media (min-width: 768px)
  footer
    position: static
    @media (orientation: landscape)
      min-width: 640px
      ul
        border-top: $slim-border
        justify-content: flex-start
        li
          margin: $base-font-size
          border: none
