@import vars
@import reset
@import shame
@import logo
@import header
@import footer
@import animations
@import introduction

body
  background-color: $background-color-1
  color: white
  margin: 0
  padding: 0
  font-family: monospace

.page
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100%
  min-height: 100vh


.title
  cursor: pointer
  color: white
  font-size: 1.5rem
  will-change: transform
  animation: pulsate 1.2s infinite
  &:hover
    animation: none
.blink
  will-change: opacity
  animation: blink 1.2s infinite

p
  line-height: 1.4


.link
  display: inline-block
  color: $main-color
  margin: 0.2em 0
  transition: color .2s ease-in-out
  &:hover
    color: white
    text-decoration: underline
    font-weight: bold
