---
layout: default-post
---
<article class="post" itemscope itemtype="https://schema.org/Photograph">
  <header class="article-header">
    <div class="post-author" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
      <div>by </div>
      <div itemprop="name">
        {{ site.author }}
      </div>
    </div>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified datePublished">{{ page.date | date: "%B %d, %Y" }}</time>
    </p>
  </header>
  <section class="post-content">
    <img class="post-bg" src="{{site.url}}{{page.image}}">
    <div class="post-perse">
      <img alt="page.title" src="{{site.url}}{{page.image}}" class="myphoto"/>
      <div class="text">
        <h1 itemprop="name headline" class="post-title">{{ page.title }}</h1>
        <ul>
          <li itemprop="description">{{page.text}}</li>
          <li itemprop="contentLocation">{{page.location}}</li>
          <li itemprop="genre">{{page.categories}}</li>
        </ul>
        <div id="map"></div>
      </div>
    </div>
  </section>
</article>
