---
layout: post
title:  "Hello world"
date:   2016-03-31 20:00:00 +0100
taken:  2016-03-31 20:00
categories: landscape
image: /photo/images/6.jpg
alt: Trondheim from Festningen at the golden hour.
lat: 63.426933
lon: 10.410053
zoom: 15
text: So I decided to make my first post on my website. This shot is from the the Kristansten Fortress in Trondheim. The view is just amazing! You can get a nice shot almost any time of the year. Visit this place, if you are in Trondheim!
---
