---
layout: post
title:  "Golden hour"
date:   2016-07-19 01:46:00 +0100
categories: landscape
image: /images/1.jpg
alt: Trondheim from Festninga at the golden hour.
lat: 63.426926
lon: 10.410253
zoom: 16
text: This post is for testing purposes only.
location: Trondheim, Sør-Trøndelag, Norway
---
