@mixin snap($length)
  transition: #{$length}s cubic-bezier(0.6, 0.03, 0.81, 1.5)
  &:hover
    border-radius: 0

.rotated-left
  perspective-origin: center
  perspective: 500px
  backface-visibility: hidden
  opacity: 0
  z-index: -1
  transform: rotateY(-180deg)

.rotated-right
  @extend .rotated-left
  transform: rotateY(180deg) !important
  @media (min-width: 640px) and (max-width: 768px)
    #intro-img
      display: none


@keyframes slide-down
  0%
    opacity: 0
    transform: translateY(-100%)
  100%
    opacity: 1
    transform: translateY(0%)

@keyframes slide-up
  0%
    opacity: 0
    transform: translateY(100%)
  100%
    opacity: 1
    transform: translateY(0%)

@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(100%)
  100%
    opacity: 1
    transform: translateX(0%)

@keyframes slide-right
  0%
    opacity: 0
    transform: translateX(-100%)
  100%
    opacity: 1
    transform: translateX(0%)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes scale-up
  0%
    opacity: 0
    transform: scale(0) rotate(90deg)
  100%
    opacity: 1
    transform: scale(1) rotate(0deg)
// .grow
//   animation: .5s grow forwards
//
//
// @keyframes grow
//   50%
//     width: 100vw
//     height: 100vw
//   70%,100%
//     // border-radius: 0
//     top: 0
//     left: 0
//     border-radius: 0
//   100%
//     border: none
//     width: 100vw
//     height: 100vw
//     padding: 0
