---
layout: pages
title: Photography | Balázs Orbán's portfolio
type: photo
description: "I am a big fan of the camera as well. You can find some my photos here."
---
{% for post in site.posts %}
  {% if post.type contains 'photo' %}
    <article class="item-photo">
      <div class="item-content">
        <h1 class="post-title"><a href={{post.url}}>{{ post.title }}</a></h1>
          <img class="item-img" alt="{{post.title}}" src="img/thumb/{{post.image}}.jpg"/>
      </div>
      <div class="item-footer">
        <div class="item-author">
          <span>by </span><span>{{site.author}}</span>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
      </div>
    </article>
  {% endif %}
{% endfor %}
