/* Posts */
body.post-body
  background: black
  min-width: 100vw
  min-height: 100vh
  position: fixed
  header
    border: none

  .post-header
    position: fixed
    top: 0
    left: 0
    font-size: $base-font-size * 2
    padding: 2%
    z-index: 1
    @include device-width($full-hd)
      padding: 2% 0 0 5%
      line-height: 1
      background: linear-gradient($accent-color-light,$accent-color)
      border-bottom: $slim-border
      height: 10%
      width: 100%
    a
      color: white !important


  article.post
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    header.article-header
      margin: 5%
      position: fixed
      top: 0
      right: 0
      display: flex
      align-items: flex-end
      flex-direction: column
      @include device-width($full-hd)
        margin: 4% 3% 0 0
        z-index: 1
      .post-title
        font-size: $base-font-size *2
        letter-spacing: -1px
        line-height: 1
        animation: .3s slideinRight
        color: white
        @include device-width($full-hd)
          font-size: $base-font-size *1.1
      .post-author
        div
          float: left
          padding-right: 4px
          color: white
          font-size: $base-font-size *.9
          @include device-width($full-hd)
            font-size: $base-font-size *.6
      .post-meta
        color: white
        font-size: $base-font-size *.8
        @include device-width($full-hd)
          font-size: $base-font-size *.5



    section.post-content
      position: relative
      width: 100vw
      margin: 0 5%
      height: 65vh
      @include device-width($full-hd)
        height: auto
      img.post-bg
        position: fixed
        bottom: 0
        left: 0
        min-height: 100vh
        min-width: 100vw
        z-index: -100
        opacity: .5
        filter: blur(10px)
        @include device-width($full-hd)
          opacity: .2
          filter: blur(3px)

      .post-perse
        display: flex
        min-width: 100%
        position: absolute
        top: 40%
        justify-content: center
        @include device-width($full-hd)
          flex-direction: column
          height: 100vh
          overflow: scroll
        img.myphoto
          box-shadow: 0 10px 20px black
          transition: .2s ease-in-out
          cursor: pointer
          height: 45vh
          max-width: 65vw
          pointer-events: none
          @include device-width($full-hd)
            box-shadow: none
            max-width: 100%
            height: auto
            //animation: .6s forwards slideinBottom .2s
            //transform: translate(0px, 500px)
        .text
          display: flex
          flex-direction: column
          margin-left: 7%
          max-width: 25vw
          min-width: 25vw
          //background-color: rgba(0,0,0,.3)
          @include device-width($full-hd)
            max-width: 100vw
            margin: 0
            background: transparent
          h1
            font-size: $base-font-size * 1.1
            padding: 2%
            color: white
            @include device-width($full-hd)
              padding: 5% 0 0 5%
          ul
            display: flex
            max-height: 40%
            overflow-y: scroll
            flex-grow: 5
            flex-direction: column
            justify-content: center
            @include device-width($full-hd)
              max-height: none
              overflow: visible
              padding: 0 5%
            li
              color: white
              text-align: justify
              font-size: $small-font
              list-style-type: none
              padding: 5px 0
              &:nth-child(2),&:nth-child(3),&:last-child
                font-size: $small-font * 0.6
                padding: 0

          #map
            width: 100%
            flex-grow: 2
            @include device-width($full-hd)
              display: none
