@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: hsl(16.2, 100%, 50%);
}

::selection {
  background-color: var(--primary-color);
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

html {
  scroll-behavior: smooth;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  #__next {
    justify-content: center;
  }
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
